<section>
	<h3>Basics</h3>
	<ul class="alt">
		<li><a href="{{ site.baseurl }}/docs/installing.html">Installing</a></li>
		<li><a href="{{ site.baseurl }}/docs/creating.html">Creating a Database</a></li>
		<li><a href="{{ site.baseurl }}/docs/howitworks.html">How it Works</a></li>
	</ul>
</section>
<section>
	<h3>API</h3>
	<ul class="alt">
		<li><a href="{{ site.baseurl }}/docs/python.html">Python</a></li>
		<li><a href="{{ site.baseurl }}/docs/javascript.html">Javascript</a></li>
		<li><a href="{{ site.baseurl }}/docs/restapi.html">REST API</a></li>
	</ul>
</section>
<section>
	<h3>Configuration</h3>
	<ul class="alt">
		<li><a href="{{ site.baseurl }}/docs/config.html">Configuration File</a></li>
		<li><a href="{{ site.baseurl }}/docs/permissions.html">Permissions</a></li>
	</ul>
</section>
