<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>This Site</h4>
                <div class="hline-w"></div>
                <p>
                  <ul>
                    {% for link in site.navigation %}
                        <li><a href="{{ link.url }}" >{{ link.title }}</i></a></li>
                    {% endfor %}
                  </ul>
                </p>
            </div>
            <div class="col-lg-8">
                <h4>Contribute</h4>
                <div class="hline-w"></div>
                <p>
                    ConnectorDB is a very new open-source project.
                    If you are a designer/developer or ML enthusiast, head on over to the <a href="https://github.com/connectordb">connectordb github</a>,
                    where you can choose which part of ConnectorDB you want to contribute towards!
                    Pull requests or bug reports are welcome!
                </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->
