<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/clients.html">Clients</a></li>
            <li><a href="{{ site.baseurl }}/api.html">API</a></li>
            <li><a href="https://github.com/connectordb/connectordb"><i class="icon fa-github"></i> Github</a></li>
            <li><a href="{{ site.baseurl }}/download.html" class="button special">Download</a></li>
        </ul>
    </nav>
</header>
