<section>
	<h3>Tutorial</h3>
	<ul class="alt">
		<li><a href="{{ site.baseurl }}/pipescript/docs/basics.html">Basics</a></li>
		<li><a href="{{ site.baseurl }}/pipescript/docs/pipeline.html">Pipeline</a></li>
		<li><a href="{{ site.baseurl }}/pipescript/docs/subpipes.html">Sub-Pipes</a></li>
		<li><a href="{{ site.baseurl }}/pipescript/docs/commandline.html">Command Line</a></li>
	</ul>
</section>
<section>
	<h3>Datasets</h3>
	<ul class="alt">
		<li><a href="{{ site.baseurl }}/pipescript/docs/datasets.html">Introduction</a></li>
		<li><a href="{{ site.baseurl }}/pipescript/docs/interpolators.html">Interpolators</a></li>
	</ul>
</section>
<section>
	<h3>Embedding/Extending</h3>
	<ul class="alt">
		<li><a href="{{ site.baseurl }}/pipescript/docs/embedding.html">Embedding</a></li>
		<li><a href="{{ site.baseurl }}/pipescript/docs/customtransforms.html">Custom Transforms</a></li>
		<li><a href="{{ site.baseurl }}/pipescript/docs/custominterpolators.html">Custom Interpolators</a></li>
	</ul>
</section>
