---
layout: default
---

<section id="main" class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="4u">
				<section>
					<h2>PipeScript</h2>
					{% include /pipescript_sidebar.html %}
					<a href="/docs/" class="button alt"><i class="fa fa-external-link"></i> ConnectorDB Docs</a>
				</section>
			</div>
			<div class="8u skel-cell-important">
				<a href="{{site.github.repository_url}}/edit/master/{{page.path}}" style="float:right;"><i class="icon fa-github"></i> Edit Me</a>
				{{ content }}
			</div>
		</div>


	</div>
</section>
